<div class="section__container ">     
    <div class="footer__col">
        <div class="logo footer__logo">
        <a href="#"><span>Boats</span></a>
    </div>
    <p class="description">Cleaner oceans, brighter futures,<br> let's navigate towards a sustainable tomorrow together</p>
    <img src="assets/footer.png" alt="" class="cle">
    </div>
    <div class="col">
        <h4>Information</h4>
        <ul class="links">
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
       </ul>
    </div>
    <div class="col">
        <h4>Company</h4>
        <ul class="links">
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="col">
      <h2>FOLLOW US </h2>
      <button class="img"><img src="assets/icons8-facebook-48.png" alt="" class="media"></button>
      <button class="img"><img src="assets/icons8-twitter-logo-96.png" alt="" class="media"></button>
      <button class="img"><img src="assets/icons8-instagram-96.png" alt="" class="media"></button>
      <button class="img"><img src="assets/icons8-tiktok-96.png" alt="" class="media"></button>
    </div>
</div>   
<div class="bar">
  Copyright © 2024 The cleaning boats. All rights reserved.
</div>
