.body{
    margin: 0px;
    padding: 0px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
div{
    width:100%;
    padding: 50px 50px;
}
aside{
    background-color: #007A99;
    width: 50%;
    text-align: center;
    color: beige;
    padding: 50px;
}
button{
    background-color: #007A99;
    color: aliceblue;
    width: 500px;
    padding: 12px 40px;
    cursor: pointer;
    margin: 5px;
    border-radius: 40px;
}
button:hover{
    background-color: #007a9962;
}
img{
    width: 50px;
    height: 50px;
    display: inline;
    transition: 1s;
    cursor: pointer;
}
img:hover{
    width: 70px;
    height: 70px;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
}
.OY{
    width: 50%;
    border-radius: 30px;
    border-color: black;
    padding: 5px;
    height: 20px;
    padding-right: 1px;
    font-family: 'Courier New', Courier, monospace;
}
.cibon{
    font-size: large;
    padding: 20px;
    color: antiquewhite;
    font-family: 'Times New Roman', serif;
}
.tt{
    width: 200px;
    height: 200px;
}