<div class="main">
    <div>
        <hr>
        <h1>We <span>Developed </span>Boats That Help Shape a Cleaner Future </h1>
        <P> Our innovative boats are designed to clean the ocean while enhancing the reputation of businesses like hotels, resorts, and organizations. By investing in these sustainable solutions, you're contributing to a brighter, cleaner planet while offering your guests a meaningful experience. </P>
    </div>
    <div>
        <img src="/assets/homeimg1.jpg" alt="pic " class="mainimg">
    </div>
</div>
<div class="main">
    <div>
        <hr>
        <h1>A Global <span>Crisis</span> Plastic Pollution</h1>
        <P> Our oceans are overwhelmed by trillions of pieces of plastic, and the situation is rapidly worsening. This pollution wreaks havoc on marine wildlife and ecosystems, with plastics breaking down into microplastics that persist for decades. These tiny particles are often ingested by marine life, ultimately making their way into the human food chain. Tackling this urgent issue is essential to protect our planet and its future.. </P>
    </div>
</div>
<div name="join" class="join">
    <div>
        <h1 class="joinh1"><strong>Join</strong> our team</h1>
        <p>Join our team and help make a difference in ocean conservation! We specialize in selling innovative boat-cleaning solutions to protect marine ecosystems. Be part of a mission-driven company that values teamwork, innovation, and sustainability for a cleaner planet</p>
        <button [routerLink]="['/contact']">&#10148;</button>
        <a href="/contact">join us here</a>
    </div>
    <div>
        <img src="assets/Marine-engineering.jpg" alt="" class="imgjoin">
    </div>
</div>
<div name="buy" class="join">
    <div>
        <img src="assets/homepic.jpg" alt="ggg" class="imgbuy">
    </div>
    <div>
        <h1 class="joinh1">Buy our Boats</h1>
        <p>
            Visit our shop to explore our range of innovative cleaning boats designed to make a difference. Discover the perfect boat to meet your needs and join us in creating cleaner oceans for a better future!</p>
        <button [routerLink]="['/boats']">&#10148;</button>
        <a href="/boats">Check Shop</a>
    </div>
</div>