<div class="container">
    <div class="text">
        <h1>The Future is yours</h1>
    <hr>
        <p>We specialize in innovative, eco-friendly boats designed to clean and protect our oceans.
             Our mission is to provide the solutions to tackle pollution and promote cleaner waterways for future generations.
              With a focus on technology and environmental care, we aim to make a positive impact on the world, one clean wave at a time.
               Join us in our journey towards the New Future</p>        
    </div>
    <div class="imdiv">
        <img src="assets/aboutus.jpg" alt="">
    </div>
</div>
