<div class="body">
<div>
    <form action="">
    <h2>Login To Your Account </h2>
    <p>Email : </p>
    <input type="email" name="" id="" placeholder="your email" class="OY">
    <p>Password: </p>
    <input type="password" name="" id="" placeholder="your password" class="OY">
    <p><input type="checkbox" name="" id=""> Remmaber Me </p>
    <button >log in</button>
    <button [routerLink]="['/home']">&#x21e6; back</button>
    <hr>
    <p>Log in with</p>
    <img src="assets/icons8-gmail-logo-96.png" alt="google">
    <img src="assets/icons8-facebook-48.png" alt="Faceb'ook">
    <img src="assets/icons8-twitter-logo-96.png" alt="Twitter">
    <p><a href="/signup" class="SAYA">or register</a></p>
    </form>
</div>
<aside>
    <img src="SITELOGO.png" alt="" class="tt">
    <h1>Welcome to The Cleaning Boats</h1>
    <p>Client area </p>
    <p>Access all your information</p>
    <p class="cibon"> Welcome to the Cleaning Boats login page -  your gateway to a seamless and secure maritime cleaning experience. Manage your account with ease, access innovative cleaning solutions, and explore exclusive features designed to enhance your operations. With state-of-the-art security, you can trust us to safeguard your data while you focus on delivering exceptional service. Log in now to unlock the full potential of our platform and take your cleaning business to new heights. Cleaning Boats where efficiency meets excellence on the water.</p>
</aside>
</div>